audioread==3.0.1
pyaudio==0.2.14
spacy==3.7.6
openai[voice_helpers]==1.86.0
python-dateutil==2.9.0.post0
playsound==1.2.2
azure-cognitiveservices-speech==1.40.0
pydub==0.25.1
yt-dlp==2024.8.6
ytmusicapi==1.8.0
requests==2.32.3
uuid==1.30
schedule==1.2.2
pytube==15.0.0
httpx==0.27.2
spacy-lookups-data==1.0.5
numpy<2.0.0
en-core-web-md==3.7.1
de-core-news-md==3.7.0